html{

   font-size: 14px;
}

.blog-masthead{

	background-color: #b34848;

}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color:#b34848;

}

a:hover{
	color:#b34848;
	text-decoration: underline;
}

form.NewPost{

	text-align: center;
}